<div class="container">
    <h2>Products from section</h2>
    <table class="table table-nonfluid">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.code}}</td>
          <td>{{product.quantity}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Request group">
              <button  type="button" class="btn btn-primary">Make Request</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  