<div class="container">
    <h2>Requests</h2>
    <table class="table table-nonfluid">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Product Id</th>
        <th scope="col">Hive Section Id</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let productToSectionRequest of productToSectionRequests">
          <th scope="row">{{productToSectionRequest.id}}</th>
          <td>{{productToSectionRequest.productId}}</td>
          <td>{{productToSectionRequest.hiveSectionId}}</td>
          <td>{{productToSectionRequest.quantity}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Request group">
              <button  type="button" class="btn btn-primary">Make Request</button>
            </div>
          </td>
        </tr>
      </tbody>
      <div class="btn-toolbar" role="toolbar" aria-label="Action buttons">
        <div class="btn-group" role="group" aria-label="Add group">
          <button routerLink="/hive/{{this.hiveId}}/section" type="button" class="btn btn-primary">Request to add to section</button>
        </div>
      </div>
    </table>
  </div>
  
  